## .NET build output
bin/
obj/
publish/*
!publish/AtlasSpriteRevertTool.exe
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

## Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

## Misc
*.log
*.tmp
Thumbs.db
.DS_Store
